.login{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login img {
    margin: 30px auto;
    object-fit: contain;
    width: 100px;
}
.login_container{
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}
.login_container h1 {
    font-size: 25px;
    margin: 20px 0px;
}
.login_container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login_container form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login_container form input{
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: white;
    width: 100%;
    border: none;
    border: 1px solid gray;
    border-radius: 3px;
}
.login_container form input:focus{
    outline: 2px solid #F0C14B;
}
.login_signin{
    border: none;
    background: #F0C14B;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.login_signin:hover{
    background: var(--primary-shade);
}
.login_container p{
    padding: 10px 0px;
    font-size: 14px;
}
.login_register{
    border: none;
    background: #e2dfdf;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.login_register:hover{
    background: rgb(201, 196, 196);
}


/* Ensure buttons use flexbox */
.login_signin, .login_register {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
  }
  
  /* Style for the loader */
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
  }
  
  
  .login_signin, .login_register {
    padding: 10px;
  }
  